{{!-- <h3>{{viewTitle}}</h3> --}}
<div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Notas</h4>
                  <p class="card-category">Crear una Nota</p>
                </div>
                <div class="card-body">
                    
<form action="/nota" method="POST" autocomplete="off">
<input type="hidden" name="_id" value="{{nota._id}}">
{{!-- <input type="hidden" name="fecha" value="{{nota.fecha}}">
 --}}                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Titulo de la Nota</label>
                          <input type="text" class="form-control" name="titulo" value="{{nota.titulo}}">
                        </div>
                      </div>
                    
                      </div>

                      <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <label>Nota</label>
                          <div class="form-group">
                            <label class="bmd-label-floating">Descripcion</label>
                            <textarea class="form-control" name="nota" value="{{nota.nota}}"rows="5"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Crear Nota</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
<img class="img" src="{{user.image}}" alt="" />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category">Empleado</h6>
                  <h4 class="card-title">{{user.displayName}}</h4>                  <p class="card-description">
                    Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                  </p>
                  <a href="/auth/logout" class="btn btn-primary btn-round">Logout</a>
                </div>
              </div>
            </div>
          </div>
        </div>








{{!-- 
<form action="/contacto" method="POST" autocomplete="off">
    <input type="hidden" name="_id" value="{{contacto._id}}">
    <div class="form-group">
                    <label>Empresa</label>
            <input type="text" class="form-control" name="empresa"  value="{{contacto.empresa}}">

        
    </div>
  
    <div class="form-row">
        
        
        <div class="form-group col-md-6">
            <label>Persona</label>
        <input type="text" class="form-control" name="persona"  value="{{contacto.persona}}">
        <div class="text-danger">
            {{contacto.num_pacienteError}}</div>
        </div>

        <div class="form-group col-md-6">
            <label>Puesto</label>
            <input type="text" class="form-control" name="puesto"  value="{{contacto.puesto}}">
        </div>

        <div class="form-group col-md-6">
            <label>Telefono</label>
            <input type="text" class="form-control" name="telefono"  value="{{contacto.telefono}}">
        </div>

        <div class="form-group col-md-6">
            <label>Correo</label>
            <input type="text" class="form-control" name="correo"  value="{{contacto.correo}}">
        </div>

         <div class="form-group col-md-6">
            <input type="hidden" class="form-control" name="date" placeholder="Fecha de registro" value="{{contacto.date}}">
        </div>


    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>
        <a class="btn btn-secondary" href="/contacto/list"><i class="fa fa-list-alt"></i> View All</a>
    </div>
</form>
 --}}